@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-red-900;
  }
}

:root {
  --background: #271c1c;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #76b878;
  }
}

[data-theme='red'] {
  --primary-color: #630000;
  --background-color: #000;
  --text-color: #ebe0e0;
}


/* for font size */
*{
  transition: all 0.18s ease-in-out;
}

body {
  background: var(--background);
  color: var(--foreground);
}

*:focus { 
  /* some exciting focus styles */ 
  outline: 0.1em #ac2222 solid;
  outline-offset: 0.1rem;
}

*:focus-visible { 
  /* some even *more* exciting button focus styles, just for keyboard navigators */
  outline: 0.25em #e17e06 dashed;
  outline-offset: 0.25rem;
}